.row {
  flex: 1 1 0px;
  border: 2px solid black;
  border-radius: 6%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.col {
  display: flex;
  flex-direction: row;
}

#display {
  text-align: center;
  margin: 10px;
}

body {
  background-color: #50079f;
  color: #9ebdb7;
}
